@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header_and_footer {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}